<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce regression suite">
	<parameter name="browser" value="chrome" />
	<test name="Regression Test">
		<classes>
			<class name="tests.UserRegisterTestCase" />
			<class name="tests.UserLoginTestCase" />
			<class name="tests.UserSearchForProductTestCase" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
