<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="nopcommerce regression suite">
	<parameter name="browser" value="chrome" />
	<test name="general Test" preserve-order="false">
		<classes>
			<class name="tests.UserRegisterTestCase" />
			<class name="tests.UserLoginTestCase" />
			<class name="tests.UserSearchForProductTestCase" />
			<class name="tests.UserSearchForProductAutoTestCase" />
			<class name="tests.ContactUsTestCase" />
			<class name="tests.UserCanChangeCurrencyTestCase" />
			<class name="tests.SendProductToriendTestCase" />
			<class name="tests.AddProductReviewTestCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
